.navbar {
  height: 70px;
  background: $sta-menu-primary;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
  font-size: #{$sta-font-size-small}px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


/*#about {
  .biography-title {
    color: red;
  }
}

#about {
  @keyframes yourfirstanimation {
    0% {
      opacity: 0;
      color: red;
    }
    100% {
      opacity: 1;
      color: black;
    }
  }

  .biography-title {
    animation: yourfirstanimation 5s forwards;
  }
}*/



/*page width overall*/
.container {
    max-width: 60%;
}


/*page width for posts
section#posts div.container{
max-width:90%;
}
*/

/*animation start*/

@keyframes slide-from-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.biography-title {
  animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.main-content {
  animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  animation-delay: 100ms;
}

/*animate avatar*/
@keyframes slide-from-left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

#profile {
  animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.interests-div {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1s;
}

.education-div {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1.5s;
}

/*animation end*/